extends layout

block content
  div.card.rounded.m-2
    h1.h4.card-header= title
    div.card-body
      form(action='./halls/' method='post')
        div.form-group
          label(for='username') Your name
          input#username.form-control(name='username', autocomplete='name', placeholder='Your name or nickname', value=userName || '', required)
        button#register.btn.btn-primary(type='submit', name='register') Join in the fun!
      p.mt-3.
        Welcome to #{title}. This is an experimental service where musicians can get together online to jam and rehearse.
        It's #[i really] experimental right now. Will it work? Who knows?  Thanks for trying it out.

      p.card-text.
        For best results, use a headset to avoid echoes. If you have a good-quality mic (not the kind built in to laptops) please use that too.

      p.card-text.
        Please contact
        #[a(href='mailto:olliejones@gmail.com') Ollie Jones], the hacker who's working on this,
        with your comments or complaints. He's particularly interested
        in how fast your music can go before you get nothing but confusion.

      p.card-text.
        You can find the source code #[a(href='https://github.com/OllieJones/singout') here]. It's
        licensed under the permissive MIT license, so use it as you will.
        Github offers a way to send in #[a(href='https://github.com/OllieJones/singout/issues') issues],
        like bug reports or questions about how to use this.

      p.card-text.
        Have fun! Be healthy!
