/* touchups to bootstrap styles */

.table.table-slimline tbody td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 0;
}
.table.table-slimline thead th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

/* css adjacentcy to style icon when checkbox is checked */
input.checkbox:checked + label.checkbox-label {
    color: #007bff!important;
}

label.checkbox-label  {
    color: #d0d0d0;
}